@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Nunito;
}

header {
    height: 15vh;
    box-shadow: 5px 5px 10px rgb(212, 212, 212);
    color: #242424;
}

button {
    color: #fff;
    background-color:#FCA60F;
    border: none;
    cursor: pointer;
}

.menu-conteiner {
    height: 15vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title-logo {
    display: flex;
}

.header-list {
    width: 22vw;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
}
.header-list li {
    position: relative;
}
.header-list li::after {
    content: "";
    height: 0.5vh;
    width: 10%;
    position: absolute;
    top: 1.25rem;
    left: 0;
    transition: 1s;
}
.header-list li:hover::after {
    width: 100%;
    background-color:#C95E20;
}

@media(max-width: 864px) {
    header {
        height: 20vh;
    }
    .menu-conteiner {
        flex-direction: column;
    }
    .menu-conteiner h1 {
        padding: 1rem;
    }
    .header-list {
        width: 50vw
    }
}

main {
    height: 100vh;
    width: 100%;
}

.main-conteiner {
    height: 120vh;
    width: calc(100% - 20%);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-column-box {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url(assets/forma1.svg);
    background-position: top 0% right 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.order-paragraph {
    width: 40vw;
    font-size: 3vw;
}

.order-button {
    height: 8vh;
    width: 25%;
    border-radius: 10px;
}

.icons-box {
    width: 15%;
    display: flex;
    justify-content: space-between;
}

.main-cup-box {
    height: 40vh;
    width: 20vw;
    background-image: url(assets/forma2.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.scrow-box {
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scroll-button {
    height: 8vh;
    width: 2vw;
    border-radius: 40px; 
}

@media(max-width: 864px) {
    .main-conteiner {
        justify-content: space-around;
        flex-direction: column;
    }
    .main-column-box {
        height: 40vh;
    }
    .main-text-box {
        height: 25vh;
        display: flex;
        justify-content: center;
    }
    .order-paragraph {
        width: 50vw;
        text-align: center;
    }
    .coffee-img {
        display: none
    }
    .order-button {
        width: 80%
    }
    .button-box {
        height: 40vh;
        display: flex;
        justify-content: center;
    }
    .icons-box {
        width: 50%;
        margin: 0 auto;
    }
}

/* Cores:

Preto: #0242424
Amarelo: #FCA60F
Marrom: #C95E20 */